$tablet-lower: 767px;
$tablet-upper: 768px; // 22
$desctop-lower: 1279px;
$desctop-upper: 1280px; // 20                                                                      variables.scss                                                                                                     $primary-text-color: #000000; //также цвет лого и на карточках мелкий шрифт
$orange-color: #ff6b09;
$primary-text-gray: #bbbbbb; //цвет зачёркнутой цены и на 'дати оголошення' и цвет инпутов
$secondary-text-gray: #878686; //модалка футболка спортивная
$white-color: #ffffff;
$color-user: #010002; // цвет значка юзера
$color-gray-line: #e2e3e5;
$backdrop-color: rgba(0, 0, 0, 0.7);
$primary-bg-color: #e5e5e5;
$bg-gray-color: #f5f6fb; // цвет модалки авторизации, квадраты в модалках с добавлением фото
$roboto-font-family: 'Roboto', sans-serif;
$montserrat-font-fam: 'Montserrat', sans-serif;
