.header-navigation {
  position: relative;
  @media screen and (max-width: $desctop-lower) {
    border-bottom: 1px solid $color-gray-line;
  }
  @media screen and (min-width: $tablet-upper) {
    &::after {
      content: ' ';
      position: absolute;
      width: 100%;
      max-width: 1240px;
      height: 1px;
      background-color: $color-gray-line;
      top: 49%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
.header-navigation__box {
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $tablet-upper) {
    flex-wrap: wrap;
  }
  @media screen and (min-width: $desctop-upper) {
    border-bottom: 1px solid $color-gray-line;
  }
}
button {
  border: none;
  background-color: transparent;
}
.header-navigation__menu-btn {
  position: relative;
  padding: 25px 27px 25px 27px;
  margin-left: -27px;
  border-right: 1px solid $color-gray-line;
  order: 1;
  &:hover,
  &:focus {
    fill: $orange-color;
    color: $orange-color;
  }
  @media screen and (max-width: 767px) {
    margin-left: -27px;
  }
  @media screen and (min-width: $tablet-upper) {
    order: 6;
    margin-right: auto;
  }
  @media screen and (min-width: $desctop-upper) {
    display: none;
  }
}
.header-navigation__menu-icon {
  width: 24px;
  height: 24px;
}

.header-navigation_logo {
  width: 50px;
  height: 20px;
  margin-right: auto;
  margin-left: auto;
  order: 2;
}

.header-navigation__menu-serch {
  width: 24px;
  height: 24px;

  order: 3;

  @media screen and (min-width: $tablet-upper) {
    order: 1;
    margin-right: auto;
  }
}
.header-navigation__icon-serch {
  width: 24px;
  height: 24px;
  &:hover,
  &:focus {
    fill: $orange-color;
  }
}

.create-an-ad {
  display: none;
  width: 188px;
  height: 70px;
  background-color: #ff6b09;
  text-transform: uppercase;
  font-size: 10px;
  color: white;
  @media screen and (min-width: $tablet-upper) {
    display: block;
    order: 4;
  }
}

.header-navigation__menu-acount {
  display: none;
  padding: 0;
  order: 3;
  margin-right: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  &:hover,
  &:focus {
    fill: $orange-color;
    color: $orange-color;
  }
}
.header-navigation__menu-acount.is-login {
  @media screen and (min-width: $tablet-upper) {
    display: block;
  }
}
.header-navigation__menu-acount-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header-navigation__menu-acount-text {
  display: none;
  @media screen and (min-width: $desctop-upper) {
    display: block;
    text-transform: uppercase;
    margin-left: 10px;
    font-size: 12px;
    &:hover,
    &:focus {
      color: $orange-color;
    }
  }
}
.header-navigation__dropdawn-content {
  display: none;
  position: absolute;
  bottom: -45%;
  right: 210px;
  transform: translateY(-50%);
  background-color: #f9f9f9;
  width: 152px;
  height: 94px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  @media screen and (min-width: $desctop-upper) {
    width: 206px;
    right: auto;
  }
}

.header-navigation__menu-acount:hover .header-navigation__dropdawn-content {
  display: block;
}
.header-navigation__dropdawn-content--text {
  display: block;
  text-decoration: none;
  font-family: $roboto-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #000000;
  padding: 10px;
  margin: 10px;
  &:hover,
  &:focus {
    color: $orange-color;
  }
}
.header-navigation__registry.is-login {
  display: none;
}
.header-navigation__registry-text {
  display: none;
  @media screen and (min-width: $desctop-upper) {
    display: block;
    font-weight: 500;
    line-height: 14px;
    font-size: 12px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    cursor: pointer;
    &:hover,
    &:focus {
      color: $orange-color;
    }
  }
}
.header-navigation__logout-icon {
  width: 20px;
  height: 20px;
  &:hover,
  &:focus {
    fill: $orange-color;
  }
}
.header-navigation__clear-filter {
  display: none;
  width: 153px;
  height: 24px;
  margin-top: 25px;
  margin-bottom: 25px;
  cursor: pointer;
  &:hover,
  &:focus {
    fill: $orange-color;
    color: $orange-color;
  }
  @media screen and (min-width: $tablet-upper) {
    display: flex;
    order: 7;
    margin-right: 20px;
    align-items: center;
  }
  @media screen and (min-width: $desctop-upper) {
    margin-left: auto;
  }
}
.header-navigation__clear-filter-icon {
  width: 24px;
  height: 24px;
}
.header-navigation__clear-filter-text {
  display: block;
  padding: 0;
  margin-left: 11px;
  font-size: 12px;
}
.header-navigation__menu-acount-logout {
  display: none;
  padding: 25px;
  order: 3;
  border-left: 1px solid $color-gray-line;
  cursor: pointer;
  &:hover,
  &:focus {
    fill: $orange-color;
  }
}
.header-navigation__menu-acount-logout.is-login {
  @media screen and (min-width: $desctop-upper) {
    display: block;
    position: relative;
  }
}

// .header-navigation__acount-logout-icon {
// }
.flex-break {
  display: none;
  @media screen and (min-width: $tablet-upper) {
    display: block;
    order: 5;
    width: 100%;
  }
}

.header-navigation__registry {
  display: none;

  padding: 0;
  @media screen and (min-width: $tablet-upper) {
    display: flex;
    order: 3;
    margin-right: 20px;
  }
  @media screen and (min-width: $desctop-upper) {
    width: 130px;
    justify-content: center;
    align-items: center;
  }
}
