//остановка прокрутки бади при открытии модалки
.is-open-modal {
  overflow: hidden;
}
// ---------------------------------Модалка sideNav
.sidenav {
  display: none;
}

.sidenav.is-open {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: $backdrop-color;
}
.sidenav__link {
  @media screen and (min-width: $tablet-upper) {
    width: 338px;
  }
  width: 100%;
  background-color: $bg-gray-color;
  position: fixed;
  top: 0;
  height: 100vh;
  padding-top: 25px;
  overflow: scroll;
}
.sidenav__menu-icon {
  display: block;
  width: 24px;
  height: 24px;
  border: none;

  margin-right: 20px;
  margin-bottom: 21px;
  margin-left: auto;
}
.sidenav__icon-clouse {
  width: 24px;
  height: 24px;
}
.sidenav__ref {
  display: block;
  font-family: $roboto-font-family;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 34px;
  border-top: 1px solid #e2e3e5;
  border-bottom: 1px solid #e2e3e5;
  cursor: pointer;
  &:hover,
  &:focus {
    color: $orange-color;
  }
}
.header-navigation__menu-btn .header-navigation__icon-close {
  display: none;
}

.header-navigation__menu-btn.is-open .header-navigation__icon-close {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header-navigation__menu-btn.is-open .header-navigation__icon-menu {
  display: none;
}
//Модалка sideNav (desctop)
.sidenav-desctop {
  display: none;
  @media screen and(min-width: $desctop-upper) {
    display: flex;
    order: 6;
  }
}

.sideNavDesctop__text {
  display: inline-block;
  text-transform: capitalize;
  font-family: $roboto-font-family;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: center;
  margin-right: 42px;
  cursor: pointer;
  &:first-child {
    margin-left: 20px;
  }
  &:hover,
  &:focus {
    color: $orange-color;
  }
}

.sidenav__menu-acount {
  display: none;
}
.sidenav__menu-acount.is-login {
  display: flex;
  position: relative;
  margin-left: 10px;
  padding-bottom: 26px;
  padding-top: 26px;
}
.sidenav__menu-acount-btn {
  display: flex;
  padding: 0;
}
.sidenav__menu-acount-text {
  font-family: $roboto-font-family;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  align-items: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  &:hover,
  &:focus {
    color: $orange-color;
  }
}
.sidenav__acount-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 37px;
  padding: 0;
}
.sidenav__dropdawn-content {
  display: none;
  position: absolute;
  top: 100%;
  right: -50%;
  transform: translateX(65%);
  width: 200px;
  background-color: $bg-gray-color;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.sidenav__menu-acount:hover .sidenav__dropdawn-content {
  display: block;
}
.sidenav__dropdawn-content--text {
  display: block;
  text-decoration: none;
  padding: 10px;
  font-family: $roboto-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #000000;
  &:hover,
  &:focus {
    color: $orange-color;
  }
}
.sidenav__menu-acount-logout {
  display: none;
}
.sidenav__menu-acount-logout.is-login {
  display: block;
  margin-left: auto;
  margin-right: 26px;
  padding: 6;
  cursor: pointer;
  &:hover,
  &:focus {
    fill: $orange-color;
  }
}
.sidenav__box-login {
  display: flex;
  align-items: center;
  border-top: 1px solid #e2e3e5;
}
.sidenav__registry {
  display: block;
  padding-bottom: 26px;
  padding-top: 26px;
}
.sidenav__registry.is-login {
  display: none;
}
.sidenav__registry-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
// модалка поиска

.header-navigation__menu-serch .header-navigation__menu-serch__icon-close {
  display: none;
}

.header-navigation__menu-serch.is-open
  .header-navigation__menu-serch__icon-close {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: block;
}

.header-navigation__menu-serch.is-open
  .header-navigation__menu-serch__icon-menu {
  display: none;
}

//------------------------Модалка добавление обьявление
.create-an-ad-modal {
  display: none;
}
.create-an-ad-modal.is-open {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $backdrop-color;
  overflow: scroll;
  z-index: 2;
}
.create-an-ad-modal__box {
  background-color: $white-color;
  padding-top: 15px;
  padding-bottom: 60px;
  margin: 15px;

  @media screen and (min-width: $tablet-upper) {
    // max-width: 724px;
    // margin-top: 163px;
    margin-left: auto;
    margin-right: auto;
    margin: 163px 22px;
    padding: 55px;
  }
  @media screen and(min-width: $desctop-upper) {
    margin-left: auto;
    margin-right: auto;

    width: 861px;
    height: auto;
    padding: 25px 105px 54px 105px;
  }
}
//Модалка добавление обьявление(кнопка закрытия)
.create-an-ad-modal__menu-clouse {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-bottom: 15px;
  cursor: pointer;
  &:hover,
  &:focus {
    fill: $orange-color;
  }
}
.create-an-ad-modal__icon-clouse {
  width: 14px;
  height: 14px;
}
// блок с инпутами

.create-an-ad-modal__title-text {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
  margin-top: 20px;
  @media screen and (min-width: $tablet-upper) {
    display: inline-block;
  }
}
//секция загрузки данных
.create-an-ad-modal__file-box {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
  @media screen and (min-width: $tablet-upper) {
    margin-left: auto;
    flex-wrap: nowrap;
  }
}
.create-an-ad-modal-btn-file {
  position: relative;

  @media screen and (max-width: $tablet-lower) {
    width: 30%;
    margin-right: 10px;
    margin-bottom: 10px;
    &:nth-child(3n + 3) {
      margin-right: 0;
    }
    &:nth-child(1n + 4) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $tablet-upper) {
    &:last-child {
      display: none;
    }
  }
}

.create-an-ad-modal__tertiary {
  color: #555;
  padding: 0;
  line-height: 40px;

  display: block;
  background-color: $bg-gray-color;
  text-align: center;
  @media screen and (max-width: $tablet-lower) {
    width: 100%;
  }
  @media screen and (min-width: $tablet-upper) {
    width: 84px;
    height: 50px;
    &:not(:first-child) {
      margin-right: 10px;
    }
  }
  @media screen and (min-width: $desctop-upper) {
    width: 78px;
    height: 50px;
  }
}

.create-an-ad-modal__add-image {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
}
.create-an-ad-modal__input-file {
  width: 1px;
  height: 1px;
  opacity: 0;
  position: absolute;
  z-index: -1;
}
//стилизация остальных форм
.create-an-ad-modal__input-area {
  border: 1px solid $primary-text-gray;
  width: 100%;
  height: 56px;
  padding: 0;
  line-height: 40px;
  background-color: $white-color;

  display: block;
  padding-left: 23px;
  @media screen and (min-width: $tablet-upper) {
    width: 458px;
    margin-left: auto;
  }
  @media screen and(min-width:$desctop-upper) {
    width: 440px;
  }
}
.create-an-ad-modal-li {
  @media screen and (min-width: $tablet-upper) {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
  }
}
//кнопка отправки
.create-an-ad-modal__submit-btn {
  display: block;
  width: 251px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
  background-color: $orange-color;
  color: $white-color;
  @media screen and (min-width: $tablet-upper) {
    width: 266px;
    height: 60px;
  }
  @media screen and (min-width: $desctop-upper) {
    width: 210px;
  }
}
// -------------------------------Модальное Окно РЕГЕСТРАЦИИ
.modal-registration {
  display: none;
}
.modal-registration.is-open {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $backdrop-color;
  overflow: scroll;
  z-index: 10;
}
.modal-registration__box {
  display: block;
  background-color: $bg-gray-color;
  padding: 15px 15px 60px 20px;
  margin: 15px;
  @media screen and (min-width: $tablet-upper) {
    width: 650px;
    height: 583px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 283px;
  }
}
.modal-registration__box-main-area {
  @media screen and (min-width: $tablet-upper) {
    width: 442px;
    height: 454px;
    margin: auto;
  }
}
// кнопка закрытия
.modal-registration__menu-clouse {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-bottom: 15px;
}
.modal-registration__icon-clouse {
  width: 14px;
  height: 14px;
}
//
.modal-registration__text {
  font-family: $roboto-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
}
// кнопка рег. гугл
.modal-registration__btn-google {
  display: flex;
  width: 141px;
  height: 43px;
  background-color: $white-color;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: $roboto-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.modal-registration__google-icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.modal-registration__form {
  margin-top: 20px;
  margin-bottom: 30px;
  @media screen and (min-width: $tablet-upper) {
    margin-top: 37px;
    height: 67px;
  }
}
// кнопки рег. и входа
.modal-registration__input {
  display: block;
  height: 56px;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #bbbbbb;
  padding-left: 25px;
}
.modal-registration__btn {
  display: inline-block;
  padding: 0;
  width: 118px;
  height: 50px;
  font-family: $roboto-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  @media screen and (min-width: $tablet-upper) {
    width: 210px;
    height: 60px;
    margin-top: 47px;
  }
}
.modal-registration__btn--onLogin {
  background-color: $orange-color;
  color: $white-color;
  margin-right: 14px;
}
.modal-registration__btn--onRegistration {
  border: 1px solid $primary-text-gray;
}
