//остановка прокрутки бади при открытии модалки
.is-open-modal {
  overflow: hidden;
}
// Модалка sideNav
.sidenav {
  display: none;
}

.sidenav.is-open {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: $backdrop-color;
}
.sidenav__link {
  @media screen and (min-width: $tablet-upper) {
    width: 338px;
  }
  background-color: $bg-gray-color;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.sidenav__menu-icon {
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  margin-top: 25px;
  margin-right: 14px;
  margin-bottom: 21px;
  margin-left: auto;
}
.sidenav__icon-clouse {
  width: 24px;
  height: 24px;
}
.sidenav__ref {
  display: block;
  &:first-child {
    margin-top: 78px;
  }
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 34px;
  border-top: 1px solid #e2e3e5;
  border-bottom: 1px solid #e2e3e5;
}
.header-navigation__menu-btn .header-navigation__icon-close {
  display: none;
}

.header-navigation__menu-btn.is-open .header-navigation__icon-close {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header-navigation__menu-btn.is-open .header-navigation__icon-menu {
  display: none;
}
//Модалка sideNav (desctop)
.sidenav-desctop {
  display: none;
  @media screen and(min-width: $desctop-upper) {
    display: flex;
    order: 6;
  }
}
.sideNavDesctop__box {
}
.sideNavDesctop__text {
  display: inline-block;
  text-transform: capitalize;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-right: 42px;
  &:first-child {
    margin-left: 20px;
  }
}
// модалка поиска

.header-navigation__menu-serch .header-navigation__menu-serch__icon-close {
  display: none;
}

.header-navigation__menu-serch.is-open
  .header-navigation__menu-serch__icon-close {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: block;
}

.header-navigation__menu-serch.is-open
  .header-navigation__menu-serch__icon-menu {
  display: none;
}

//Модалка добавление обьявление
.create-an-ad-modal {
  display: none;
}
.create-an-ad-modal.is-open {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $backdrop-color;
  overflow: scroll;
}
.create-an-ad-modal__box {
  background-color: $white-color;
  padding-top: 15px;
  padding-bottom: 60px;
  margin: 15px;
  @media screen and (min-width: $tablet-upper) {
    margin: 163px 22px;
    padding: 55px;
  }
  @media screen and(min-width: $desctop-upper) {
    margin-left: auto;
    margin-right: auto;

    width: 861px;
    height: 698px;
    padding: 25px 105px 54px 105px;
  }
}
//Модалка добавление обьявление(кнопка закрытия)
.create-an-ad-modal__menu-clouse {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-bottom: 15px;
}
.create-an-ad-modal__icon-clouse {
  width: 14px;
  height: 14px;
}
// блок с инпутами
.create-an-ad-modal__title {
}
.create-an-ad-modal__title-text {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
  margin-top: 20px;
  @media screen and (min-width: $tablet-upper) {
    display: inline-block;
  }
}
//секция загрузки данных
.create-an-ad-modal__file-box {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
  @media screen and (min-width: $tablet-upper) {
    margin-left: auto;
    flex-wrap: nowrap;
  }
}
.create-an-ad-modal-btn-file {
  position: relative;

  @media screen and (max-width: $tablet-lower) {
    width: 30%;
    margin-right: 10px;
    margin-bottom: 10px;
    &:nth-child(3n + 3) {
      margin-right: 0;
    }
    &:nth-child(1n + 4) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $tablet-upper) {
    &:last-child {
      display: none;
    }
  }
}

.create-an-ad-modal__tertiary {
  color: #555;
  padding: 0;
  line-height: 40px;

  display: block;
  background-color: $bg-gray-color;
  text-align: center;
  @media screen and (max-width: $tablet-lower) {
    width: 100%;
  }
  @media screen and (min-width: $tablet-upper) {
    width: 84px;
    height: 50px;
    &:not(:first-child) {
      margin-right: 10px;
    }
  }
  @media screen and (min-width: $desctop-upper) {
    width: 78px;
    height: 50px;
  }
}

.create-an-ad-modal__add-image {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
}
.create-an-ad-modal__input-file {
  width: 1px;
  height: 1px;
  opacity: 0;
  position: absolute;
  z-index: -1;
}
//стилизация остальных форм
.create-an-ad-modal__input-area {
  border: 1px solid $primary-text-gray;
  width: 100%;
  height: 56px;
  padding: 0;
  line-height: 40px;
  background-color: $white-color;

  display: block;
  padding-left: 23px;
  @media screen and (min-width: $tablet-upper) {
    width: 458px;
    margin-left: auto;
  }
  @media screen and(min-width:$desctop-upper) {
    width: 440px;
  }
}
.create-an-ad-modal-li {
  @media screen and (min-width: $tablet-upper) {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
  }
}
//кнопка отправки
.create-an-ad-modal__submit-btn {
  display: block;
  width: 251px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
  background-color: $orange-color;
  color: $white-color;
  @media screen and (min-width: $tablet-upper) {
    width: 266px;
    height: 60px;
  }
  @media screen and (min-width: $desctop-upper) {
    width: 210px;
  }
}
