.backdrop-logout {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $backdrop-color;

  transition: $cubic;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.popup-logout {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px 20px;
  max-width: 290px;
  width: 100%;
  text-align: center;

  background-color: $bg-gray-color;

  transition: $cubic;

  .backdrop-logout.is-hidden & {
    transform: translate(-50%, -50%) scale(0.5);
  }

  @media screen and (min-width: $tablet-upper) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-height: 100%;
    overflow: auto;
    max-width: 650px;
    padding: 60px 105px;
  }
}

.btn-popup-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  background-color: $bg-gray-color;
  border: transparent;
}

.icon-popup-close {
  width: 14px;
  height: 14px;

  transition: $cubic;

  &:hover,
  &:focus {
    fill: $orange-color;
  }
}

.popup-text {
  display: inline-block;
  font-family: $roboto-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 20px;

  color: $primary-text-color;

  @media screen and (min-width: $tablet-upper) {
    margin-bottom: 30px;
  }
}

.container-popup-btn {
  display: flex;
  justify-content: center;
}

.btn-popup {
  display: inline-block;
  border: none;
  padding: 14px 28px;
  cursor: pointer;
  min-width: 118px;
  font-family: $roboto-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  @media screen and (min-width: $tablet-upper) {
    padding: 24px 48px;
    min-width: 210px;
  }
}

.btn-primary {
  margin-right: 14px;
  background-color: $orange-color;
  color: $white-color;

  @media screen and (min-width: $tablet-upper) {
    margin-right: 20px;
  }
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid #bbbbbb;
  color: $primary-text-color;
}
