.splide {
    background: #E5E5E5;
}
.splide__arrow--next {
    top: 20px;
    background: none;
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.splide__arrow--prev {
    top: 20px;
    background: none;
    @media screen and (max-width: 767px) {
        display: none;
    }
}