<<<<<<< Updated upstream
body {
  background-color: $orange-color;
}
=======
.card {
    max-width: 290px;
    margin: 0 10px;
  }
  @media screen and (min-width: $phone) {
    .card {
      max-width: 352px;
    }
  }
  @media screen and (min-width: $tablet-upper) {
    .card {
      width: 295px;
    }
  }
  .card__picture {
    width: inherit;
    height: 275px;
  }
  .card__title {
    font-family: $roboto-font-family;
    font-size: 14px;
    color: $black-color;
    margin-left: 19px;
    padding-top: 20px;
    padding-bottom: 4px;
    margin: 0 0 0 19px;
    font-style: normal;
    font-weight: 300;
  }
  .card__price {
    font-family: $roboto-font-family;
    font-size: 16px;
    margin-left: 19px;
    font-weight: 700;
    padding-bottom: 21px;
  }
  .card__description {
    background: $white-color;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -10px;
  }
>>>>>>> Stashed changes
