<div class="cards__descriptive">
  <h2 class="cards__title">property{{category}}</h2>
  <p class="cards__more">дивитись всі</p>
</div>
<ul class="cardset">
  {{#each this}}
  {{>./card}}
  {{/each}}
</ul>