{{!-- {{#each this}}
<div class="card">
    <img class="card__picture" src='{{imageUrls}}' alt="">
    <div class="card__description">
        <h3 class="card__title">{{description}}</h3>
        <p class="card__price">{{price}}</p>
    </div>
</div>
{{/each}} --}}