@import './common/normalize';
@import './common/breakpoints';
@import './common/global';
@import './icons/icons';
@import './common/container';
@import './common/header';
@import './common/header-modal';
@import './common/footer';

@import './common/modal.scss';


/*модалки*/
@import './modals/modal-search';
@import './common/auth-modal';


